@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This exercise is two parts. The work has been done with ASP.NET Core and C# one program for the console and one for an webapp</p>
<p>The exercise is about account application getting the accounts and makes it able to search for accounts.</p>
